/* Borders */

#borders {
    background-color: black;
}

.top-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
}
 
.right-border, .left-border {

}

