/* Colors */

.b-background { /* border background */
    background-color: #F9EFE0;
}

.black-txt {
    color: black;
}

/* Fonts 
font-family: 'Satisfy', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Molle', cursive; (for my name)
*/

/* Hover */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.under-hover {
    position: relative;
    color: #000000;
    text-decoration: none;
}

.under-hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 20px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.35s ease-in-out 0s;
}

.under-hover:hover:before {
    visibility: visible;
    transform: scaleX(0.65);
}
/* Borders */

.top-border {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: -1;
}
 
.right-border {
    position: fixed;
    height: 100%;
    width: 30px;
    right: 0;
    z-index: -1;
}

.left-border {
    position: fixed;
    height: 100%;
    width: 30px;
    left: 0;
    z-index: -1;
}

/* Top Navigation Bar */

#top-navbar {
    font-size: 25px;
    line-height: 2;
    color: black;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.left-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 100px;

}

.left-nav li {
    float: left;
}

.left-nav li a {
    margin-left: 5px;
    display: inline-block;
    padding: 10px 30px;
}


.right-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 100px 0 0;
}

.right-nav li {
    float: right
}

.right-nav li a {
    margin-right: 5px;
    display: inline-block;
    padding: 10px 30px;
}

.name-title {
    font-family: 'Molle', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 3;
}